@use "../libs/vars/width.scss" as widthVars;

@use "../libs/mixins/mediaMixin.scss" as mediaMixin;

$activeLinkColor: #000000d1;

.menuLinks {
  padding: 3.2rem 20px 0 20px;

  &__content {
    max-width: widthVars.$contentMaxWidth;
    margin: 0 auto;
    display: flex;
    gap: 1.4rem;
  }

  &__link {
    padding: 7px 0;
    font-size: 17px;
    color: #8f9faa;
    font-weight: bold;
    line-height: 1;
    transition: color 0.4s ease;

    &:hover {
      color: #65717b;
    }

    &--active {
      color: $activeLinkColor;
      border-bottom: 2px solid $activeLinkColor;
    }
  }
}
